@import "arrows";
@import "tables.scss";
@import "change-arrows.scss";

@font-face {
    font-family: Agincourt;
    src: url(agincourt_font.ttf);
}
.logo {
    font-family: Agincourt;
    font-weight: normal;
    font-size: 2.25rem;
}
#map svg {
    width: 975px;
    height: 520px;
}
.progress-bar-party {
    border: 1px solid gray;
    width: 100px;
    height: 1.15em;
    padding: 0;
}
#state-list {
    max-width: fit-content;
    position: absolute;
    left: 10%;
    .list-group-item {
        padding: 3px;
    }
}
#LaTeX, mjx-container {
    max-width: fit-content;
    display: inline-block;
}
#pdf {
    padding: 17px 20px;
    a {
        font-size: 20px;
    }
}
#sm a {
    padding: 10px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    color: white;
}