elm-stuff

emails/emails.csv
emails/key.txt
emails/welcome_key.txt

emails/unsubscribe.html

static/bootstrap/

static/sass/.sass-cache/
static/sass/*.css
static/sass/*.css.map

the_proposal/*.pdf
the_proposal/*.aux
the_proposal/*.fdb_latexmk
the_proposal/*.fls
the_proposal/*.log
the_proposal/*.gz
the_proposal/dirtytalk.sty

database.csv
data.txt
static/sass/agincourt_font.ttf

404.html
403.html
calculator.html
donate.html
donatefaq.html
endorsements.html
countmein.html
index.html
map.html
proposal.html
readmore.html
stateresults.html