elm-stuff
__pycache__

static/bootstrap/

static/sass/.sass-cache/
static/sass/*.css
static/sass/*.css.map

data.txt
donation_budget.png
538_dollar_drive.png

static/sass/agincourt_font.ttf

404.html
403.html
calculator.html
donate.html
donatefaq.html
endorsements.html
countmein.html
index.html
map.html
proposal.html
readmore.html
stateresults.html
unsubscribe.html