elm-stuff
src/elm/elm.js
src/elm/index.html
src/elm/Main.*
src/sass/.sass-cache
src/sass/*.css
src/sass/*.css.map
src/sass/agincourt_font.ttf
src/js/state.js
src/js/util.js
src/js/state_compiled.js
todo_list.txt
results2.html
*.sty
the_proposal/*.aux
the_proposal/*.pdf
the_proposal/*.log