@import "style";

table.quota {
    td {
        text-align: center;
        font-size: xx-large;
        padding-left: 10px;
        padding-right: 5px;
    }

    td#votes {
        border-bottom: 1px solid black;
    }

    td#seats {
        border-top: 1px solid black;
    }
}
