#outlines path {
    fill: #969696;
    fill-opacity: 0.5;
    opacity: 0.25;
}

span {
    position: relative;
    text-align: center;
}

.error {
    top: 50px;
    left: 50%;
}

.m {
    top: 25px;
    left: -10%;
    font-size: 200px;
    color: midnightblue;
}

.msg {
    top: -20%;
    left: 0;
    font-size: 20px;
    color: black;
}
