@import "style";
@import "results.scss";

// Arrows

@mixin arrow($color, $size, $orientation) {
    width: 0;
    height: 0;
    @if $orientation == top {
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-bottom: $size solid $color;
    } @else if $orientation == right {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-left: $size solid $color;
    } @else if $orientation == down {
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-top: $size solid $color;
    } @else {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-right: $size solid $color;
    }
}

.arrow {
    display: inline-block;
    width: fit-content;
}

.arrow:hover {
    opacity: 0.5;
    cursor: pointer;
}

#leftArrow {
    @extend .arrow;
    @include arrow(gray, 25px, left);
    float: left;
}

#rightArrow {
    @extend .arrow;
    @include arrow(gray, 25px, right);
    float: right;
}

// Other

#map {
    display: inline-block;
}

.dot-toggle {
    display: inline-block;

    a {
        color: #fff;
    }
}

.single-results-div {
    display: inline-block;
    vertical-align: middle;
    left: 260px;
    min-width: fit-content;
}
