@import "style";

.general-ticket {
    fill: #4265c5;
}

.district {
    fill: #412b08;
}

.hybrid {
    fill: #72149e;
}

.legislative-selection {
    fill: #117211;
}

.allocation-record-bar:hover {
    opacity: 0.5;
}

.centered-text {
    vertical-align: middle;
    display: table-cell;
}

.blockquote-footer {
    text-align: right;
}