.progress-bar-party {
    border: 1px solid gray;
    width: 100px;
    height: 1.15em;
    padding: 0;
}

// Change Arrows

.change-arrow {
    font-size: 16px;
    font-family: sans-serif;
}

.increase:after {
    @extend .change-arrow;
    color: #32cd32;
    content: "\25B2";
}

.decrease:after {
    @extend .change-arrow;
    color: red;
    content: "\25BC";
}

.steady:after {
    @extend .change-arrow;
    color: skyblue;
    content: "\25AC";
}

// Tables

.results-table {
    border: 1px solid #00022d;
    padding: 4px;
    border-collapse: collapse;
}

.detailed-results-cell {
    display: inline-block;
}

#single-results,
#state-results,
.detailed-results {
    td,
    th,
    tr {
        @extend .results-table;
    }
}
