@import "style";
@import "results.scss";

#state-list {
    min-width: fit-content;

    .list-group-item {
        padding: 3px;
    }
}

#result-foot #gallagher-desc {
    display: none;
}

.bpo {
    display: inline-block;

    a {
        color: #fff;
    }
}

.extra-seat:after {
    color: green;
    content: "\F058";
}

.question-mark:after {
    color: blue;
    content: "\F059";
}

// Hemicircle

g#labels text {
    font-size: 15px;
}
g#labels rect {
    width: 2px;
    height: 60px;
    background: #00022d;
}
