// Logo

@font-face {
    font-family: Agincourt;
    src: url(agincourt_font.ttf);
}

.logo {
    font-family: Agincourt;
    font-weight: normal;
    font-size: 2.25rem;
}

// Social Media

#sm {
    a {
        padding: 10px;
        width: 35px;
        text-align: center;
        text-decoration: none;
        color: white;
        font-size: 20px;
    }

    a.fa-facebook {
        background: #3b5998;
    }

    a.fa-twitter {
        background: #55acee;
    }

    a.fa-youtube {
        background: #dd0000;
    }
}

// Copyright

#copyright {
    background-color: rgba(0, 0, 0, 0.05);
}
